.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}


h1 {
  
  left: 40%;
  font-size: 16px;
  font-weight:600;
  text-transform: uppercase;
  display: inline-block;
  color: #000000;
  margin: 40px 8px 10px 8px;

}


@import url('https://fonts.googleapis.com/css?family=Poppins');



body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  padding: 20px;
}



*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

* {
  box-sizing: border-box;
}
